/* You can add global styles to this file, and also import other style files */
@import "./assets/loader-style.css";
@import "~primeicons/primeicons.css";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Primeng Icon Sizes */
.pi {
  cursor: pointer;
}

.pi.pi-md {
  font-size: 1.25rem !important;
}

.pi-lg {
  font-size: 1.5rem;
}

.pi-xlg {
  font-size: 2rem;
}

/* ngx-toastr override css */
.toast-title {
  font-weight: normal !important;
}
.toast-close-button {
  font-weight: normal !important;
}

.modal-xxl .modal-lg {
  min-width: 1200px;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  display: none;
}
