/* You can add global styles to this file, and also import other style files */
@import "./assets/loader-style.css";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* ngx-toastr override css */
.toast-title {
  font-weight: normal !important;
}
.toast-close-button {
  font-weight: normal !important;
}

.modal-xxl .modal-lg {
  min-width: 1200px;
}
