.card {
    float: left;
    position: relative;

    margin-bottom: 10px;
    margin-right: 2px;
    padding: 10px !important;
    border: 1px solid silver;
    border-radius: 6px;
    overflow-y: hidden;
    height: 350px;
    max-width: 250px;
    transition: background linear 375ms;
}

.card-name {
    font-weight: bold;
    margin-bottom: 2px;
    color: #444;
}

.card-descript {
    font-size: 0.90em;
    margin-top: 5px;
    overflow: hidden;
    max-height: 83px;
    line-height: 1.35;
}

.card-image {
    width: 140px;
}