<div class="container my-3">
    <div class="row">
        <div class="col">
            <h2>Search for Card</h2>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <form *ngIf="searchForm" [formGroup]="searchForm">
                    <div class="form-group">
                        <label for="cardName"> Card Name</label>
                        <input id = "cardName" 
                            formControlName = "cardName" 
                            type = "text" 
                            class = "form-control form-control-sm" 
                            [(ngModel)] = "model"
                            [ngbTypeahead] = "typeAheadSearch" 
                            [resultFormatter] = "resultFormatCardListValue" 
                            [inputFormatter] = "inputFormatCardListValue">
                    </div>

                    <button class="btn btn-sm btn-success" [disabled]="searchForm.invalid" (click)="search()">Search Card</button>
          
                </form>

            </div>
        </div>
    </div>
</div>

    <div class="container-fluid" *ngIf = "busy && searchResults.length > 0">
        <div class="row">
            <div class="col">
                <h2> Results: </h2>
                <hr>

                <a class="card" role="button" style="text-decoration: none; color: inherit"
                    *ngFor= "let s of searchResults">
                    <!-- (click)="dothing(card = s)" -->
                    <div class="col">
                        
                            <div>
                                <!-- <img [src]="" class="card-image" /> -->
                                <div style="padding-left: 0px;">
                                    <div class="card-name"> {{  s.cardName  }} </div>
                                    <!-- <div class="album-artist">by <b>{{album.Artist.ArtistName}}</b> {{(album.Year ? 'in ' + album.Year : '')}}</div> -->
                                    <div class="card-descript"> {{  s.cardDescription  }} </div>
                                    <div class="card-descript">  {{  (s.originalSet ? 'Set: ' + s.originalSet : '') }} </div>
                                </div>
                            </div>
                        
                    </div>
                </a>
            </div>
        </div>
    </div>

