<div class="container my-3">
  <div class="row mb-3">
    <h3>Search for Cards</h3>
    <div class="container-fluid">
      <form *ngIf="searchForm" [formGroup]="searchForm">
        <div class="input-group input-group-lg">
          <input
            id="pokeMonCardName"
            formControlName="cardName"
            placeholder="Card Name"
            type="search"
            class="form-control form-control-sm"
            [ngbTypeahead]="typeAheadSearch"
            (selectItem)="selectedItem($event)"
          />
          <!-- (keyup.enter)="search()" -->
          <!-- [resultFormatter]="resultFormatCardListValue"
            [inputFormatter]="inputFormatCardListValue" -->
        </div>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="searchResults.length > 0">
    <h4>Search Results:</h4>
    <div class="col-12">
      <div class="row card-list">
        <div
          class="col-2 card-box"
          (click)="onSelectCard(s)"
          *ngFor="let s of searchResults"
        >
          <div class="vstack gap-1">
            <div *ngIf="s.selected" class="card-selected">
              <i class="pi pi-check-square"></i>
              <label>&nbsp;Selected</label>
            </div>
            <img
              [src]="getCardImageUrl(s.thumbnailImageGuid, true)"
              class="image-thumbnail"
            />
            <div class="card-info">
              {{ s.cardName }}
            </div>
            <div class="card-info">
              {{ s.originalSetName }} - ({{ s.yearReleased }})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="searchResults.length === 0">
    <h5>No Results</h5>
  </div>
</div>
