<div class="container my-3">
    <div class="row">
        <div class="col">
            <h2>Search for Card</h2>
            <hr>
        </div>
    </div>
  
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <form *ngIf="searchForm" [formGroup]="searchForm">
                    <div class="form-group">
                        <label>Card Name</label>
                        <input formControlName="cardName" type="text" class="form-control form-control-sm">
                    </div>

                    <button class="btn btn-sm btn-success" [disabled]="searchForm.invalid" (click)="search()">Search Card</button>
          
                </form>
            </div>
        </div>
    </div>
</div> 
