<form class="example-form">

  <div class="row">
    <div class="col">

      <h1 *ngIf="!editMode">{{ set.setDescription }}</h1>
      <input type="text" matInput [(ngModel)]="set.setDescription">


      <mat-form-field *ngIf="editMode" appearance="fill">
        <mat-label>Set Name</mat-label>
        <input type="text" matInput [formControl]="setDescription" [errorStateMatcher]="matcher" placeholder="set name">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Set Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="example-container">
        <h3>Second</h3>
        <div cdkDropListGroup>
          <ng-container *ngFor="let cardRow of cardRows; let i = index">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="cardRow" class="example-list"
              cdkDragStarted (cdkDropListDropped)="drop($event)">
              <div cdkDrag class="example-box" *ngFor="let card of cardRow" [cdkDragData]="card">
                <div class="vstack gap-1">
                  <img [src]="cardService.getImage(card.thumbnailImageGuid, true)" class="image-thumbnail">
                  <div class="card-info">
                    {{card.cardName}}
                  </div>
                  <div class="card-info">
                    {{card.originalSetName}} - ({{card.yearReleased}})
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- 
<div class="row">
  <div class="col">
    <select [(ngModel)]="option">
      <option value="35rem">35</option>
      <option value="50rem">50</option>
      <option value="65rem">65</option>
      <option value="80rem">80</option>
    </select>
    <div class="example-container">
      <h3>Third</h3>

      <div class="categories" [style.width]="option" cdkDropListGroup>
        <ng-container *ngFor="let card of cardList; let i = index">
          <div class="categories-item2" cdkDropList cdkDropListOrientation="horizontal"
            [cdkDropListData]="{item:card,index:i}" (cdkDropListDropped)="newDrop($event)">
            <div cdkDrag class="example-box" [cdkDragData]="card">
              <div class="vstack gap-1">
                <img [src]="cardService.getImage(card.thumbnailImageGuid, true)" class="image-thumbnail">
                <div class="card-info">
                  {{card.cardName}}
                </div>
                <div class="card-info">
                  {{card.originalSetName}} - ({{card.yearReleased}})
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->
</form>