<form [formGroup]="setFormGroup">
  <div class="row mb-3">
    <div class="col">
      <div *ngIf="!changeSetName" class="row">
        <div class="col-auto">
          <h4 class="set-title">{{ getSetDescription() }}</h4>
          <div *ngIf="set.defaultSet" class="text-bg-info default-set-label ms-4">Default Set</div>
        </div>
        <div class="col-auto" *ngIf="editMode">
          <i class="pi pi-pencil pi-md mb-2 vertical-center-icons" placement="top" ngbTooltip="Edit"
            (click)="onChangeSetName()"></i>
        </div>
      </div>

      <div *ngIf="changeSetName" class="row">
        <div class="col-4">
          <input type="text" class="form-control" formControlName="setDescription"
            placeholder="enter set name...">
        </div>
        <div class="col-auto">
          <i class="pi pi-check pi-md vertical-center-icons" placement="top" ngbTooltip="Confirm"
            (click)="onChangeSetName()"></i>
        </div>
      </div>
    </div>
    <div class="col-auto" *ngIf="editMode">
      <button class="btn btn-primary me-1" (click)="onAddCards()">Add Cards</button>
      <button class="btn btn-success ms-1" [disabled]="setFormGroup.invalid" (click)="saveSetInformation()">Save</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="example-container">
        <div cdkDropListGroup>
          <ng-container *ngFor="let cardRow of cardRows; let i = index">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="cardRow" [cdkDropListDisabled]="!editMode" 
                  class="example-list" cdkDragStarted (cdkDropListDropped)="drop($event)">
              <div cdkDrag class="example-box" [ngClass]="editMode ? 'cursor-move' : 'cursor-default'" *ngFor="let card of cardRow" [cdkDragData]="card">
                <div class="vstack gap-1">
                  <div *ngIf="editMode" class="card-header">
                    <!-- Display Checked option, delete option -->
                    <div class="col">
                      <i class="pi pi-trash pi-md mb-2 vertical-center-icons" placement="top" ngbTooltip="Delete"
                      (click)="onDeleteCard(cardRow, card)"></i>
                    </div>
                    <div class="col">

                    </div>
                  </div>
                  <img [src]="cardService.getImage(card.thumbnailImageGuid, true)" class="image-thumbnail">
                  <div class="card-info">
                    {{card.cardName}}
                  </div>
                  <div class="card-info">
                    {{card.originalSetName}} - ({{card.yearReleased}})
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>