<form [formGroup]="setFormGroup">
  <div class="row mb-3">
    <div class="col-10">
      <div *ngIf="!changeSetName" class="row">
        <div class="col-auto">
          <h4>{{ getSetDescription() }}</h4>
        </div>
        <div class="col-auto" *ngIf="editMode">
          <i class="pi pi-pencil pi-md mb-2 vertical-center-icons" placement="top" ngbTooltip="Edit"
            (click)="onChangeSetName()"></i>
        </div>
      </div>

      <div *ngIf="changeSetName" class="row">
        <div class="col-4">
          <input type="text" class="form-control" formControlName="setDescription"
            placeholder="enter set name...">
        </div>
        <div class="col-auto">
          <i class="pi pi-check pi-md vertical-center-icons" placement="top" ngbTooltip="Confirm"
            (click)="onChangeSetName()"></i>
        </div>
      </div>
    </div>
    <div class="col-2" *ngIf="editMode">
      <button class="btn btn-success float-end" [disabled]="setFormGroup.invalid" (click)="saveSetInformation()">Save</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="example-container">
        <div cdkDropListGroup>
          <ng-container *ngFor="let cardRow of cardRows; let i = index">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="cardRow" class="example-list"
              cdkDragStarted (cdkDropListDropped)="drop($event)">
              <div cdkDrag class="example-box" *ngFor="let card of cardRow" [cdkDragData]="card">
                <div class="vstack gap-1">
                  <img [src]="cardService.getImage(card.thumbnailImageGuid, true)" class="image-thumbnail">
                  <div class="card-info">
                    {{card.cardName}}
                  </div>
                  <div class="card-info">
                    {{card.originalSetName}} - ({{card.yearReleased}})
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>